<form>

    <div class="modal-header">
        <h3 class="modal-title">Zaloguj sie</h3>
    </div>

    <div class="modal-body">
        <input class="form-control" type="text" placeholder="login" ng-model="ctrl.credentials.login" autofocus/>
        <br/> 
        <input class="form-control" type="password" placeholder="haslo" ng-model="ctrl.credentials.password"/>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary fa fa-sign-in" type="submit" ng-click="ctrl.doLogin()"></button>
        <button class="btn btn-danger fa fa-times" ng-click="ctrl.cancel()"></button>
    </div>

</form>
